.logo{
  width:130px;
  margin:auto;
}

.copy-link {
  padding-bottom: 10px;
  --height: 36px;
  display: flex;
  max-width: 250px;
}

.copy-link-input {
  flex-grow: 1;
  padding: 0 8px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-right: none;
  outline: none;
}

.copy-link-input:hover {
  background: #eeeeee;
}

.copy-link-button {
  flex-shrink: 0;
  width: var(--height);
  height: var(--height);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dddddd;
  color: #333333;
  outline: none;
  border: 1px solid #cccccc;
  cursor: pointer;
}

.copy-link-button:hover {
  background: #cccccc;
}

.poll .question{
  padding: 20px;
  color:#111;
  font-size: 18px;
  border-bottom:1px solid #eee;
}

.poll .answers{
  padding: 20px 20px 10px;
}

.poll .answers .answer {
  position:relative;
  width:100%;
  height:40px;
  padding: 0px 10px;
  line-height:40px;
  color: #111;
  margin-bottom:10px;
  border: 1px solid #d4d4d4;
  border-radius:10px;
  cursor:pointer;
  overflow:hidden;
}

.poll .answers .answer.selected {
  border: 2px solid #8f9fe8;
}

.poll .answers .answer span.pencentage-value {
  position: absolute;
  top:50%;
  right:0px;
  width:40px;
  transform: translateY(-50%);
  color: #111;
  font-size: 15px;
}

.poll .answers .answer span.pencentage-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  background: #ccd8f1;
  z-index:-1;
  transition:width 3000ms ease-in-out
}